.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-size: 300% 300%;
}

@media screen and (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: auto;
        width: 100%;
        background-size: 300% 300%;
    }
}

.label{
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.error{
    height: 60px;
    color: red;
}

.shake{
    animation: shake 0.5s; 
}

/* 定义输入框晃动效果的关键帧动画 */
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}